.results {
  // @include default-page-layout();
  height: 100vh;
  width: 66vw;
  display: grid;

  margin-top: 52px;
  grid-row-gap: 44px;
}
.results-posts {
  .results-posts__wrapper {
    .results-posts__posts {
      display: grid;
      grid-row-gap: 21px;
      justify-content: stretch;
    }
  }
}

.result-post {
  display: grid;
  align-content: space-around;
  grid-row-gap: 22px;

  // this is getting all of the children
  .result-post__topics > * {
    color: $color-blue-one;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
  }

  .result-post__title a {
    color: $color-gray-one;
    font-size: 18px;
    line-height: 22px;
  }
  a:hover {
    color: $color-blue-one;
  }
  .result-post__links {
    display: none;
    transition: display 0.2s ease-in-out;
  }

  .result-post__links-active {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(70px, auto);
    grid-row-gap: 20px;
    transition: display 0.2s ease-in-out;
    @media screen and (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.post-link {
  display: flex;
  flex-basis: 205px;
  margin-right: 37px;

  .post-link__box {
    min-width: 70px;
    height: 70px;
    background-color: $color-gray-three;
    margin-right: 16px;
  }

  .post-link__link a {
    color: $color-gray-one;
    font-size: 14px;
    line-height: 17px;
  }
  a:hover {
    color: $color-blue-one;
  }
}
